<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">

<head>
    <title></title>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/jquery-1.9.1.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/underscore.min.js"></script>
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="Content/bootstrap-theme.min.css">
    <title></title>

    <!--CanvasJS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>

    <!--dygraph-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.js"></script>
    <link rel="stylesheet" src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.css" />

    <!--create js-->
    <script src="https://code.createjs.com/createjs-2015.05.21.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/chart.css">
    <link rel="stylesheet" type="text/css" href="/css/canvas.css" />
    <link rel="stylesheet" type="text/css" href="/css/charttimer.css" />
    <script src="/js/controller.js"></script>
    <script src="/custom/js/directive.js"></script>
    <script src="/lightchart/js/lightchart.js"></script>
    <script src="/lightchart/js/charttimer.js"></script>

    <!-- slider -->
    <script src="/angular-bootstrap-slider-master/slider.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap-slider-master/dist/css/bootstrap-slider.min.css"/>
    <script src="/bootstrap-slider-master/dist/bootstrap-slider.min.js"></script>
    <!-- ui router -->
    <script src="/Scripts/angular-ui-router.min.js"></script>
    <script src="/js/router.js"></script>
</head>
<body>
    <div ng-controller="MyController" ng-init="initialize()">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <chart-Timer plotdata="dataPoints"></chart-Timer>
                </div>
                <div class="col-lg-9">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" ng-click="tabClicked('chart2')">Chart x2</a></li>
                        <li class=""><a data-toggle="tab" ng-click="tabClicked('chart4')">Chart x4</a></li>
                        <li class=""><a data-toggle="tab" ng-click="tabClicked('chart8')">Chart x8</a></li>
                        <li class=""><a data-toggle="tab" ng-click="tabClicked('chart3D')">Chart 3D</a></li>
                    </ul>
                    <div ui-view></div>
               </div>
            </div>
        </div>
    </div>
</body>
</html>