#canvas_id{
    border:1px solid red;
}

#canvas_id2{
    border:1px solid blue;
}
body{
    background-color:gray;
}
canvas{
     border:1px solid blue;
}

.chartContainer{
    display:flex
}

.chartContainer chart{
    
}

.lightchart{
    background-color:red;

}
.lightchart canvas:nth-child(n){
    position:absolute;
}
.lightchart canvas:nth-child(1){
    z-index:1;
}
.lightchart canvas:nth-child(2){
    z-index:0;
}


