<div>

    <div class="buttonContainer">
        <button class="btn btn-primary" ng-click="start()"><span class="glyphicon glyphicon-play"></span></button>
        <button class="btn btn-primary" ng-click="reset()"><span class="glyphicon glyphicon-stop"></span></button>
        <button class="btn btn-primary" ng-click="stop()"><span class="glyphicon glyphicon-pause"></span></button>
        <button class="btn btn-primary" ng-click="stepback()"><span class="glyphicon glyphicon-step-backward"></span></button>
        <button class="btn btn-primary" ng-click="stepforward()"><span class="glyphicon glyphicon-step-forward"></span></button>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-flash"></span> 
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>32</li>
                <li>64</li>
                <li>128</li>
                <li>256</li>
                <li>512</li>
                <li>1024</li>
            </ul>
        </div>
    </div>
    <div class="sliderContainer">
        <!-- it can be used as an element -->
        <input id="ex1" data-slider-id='ex1Slider' type="text" 
               data-slider-min="0" data-slider-max="32768" data-slider-step="1" 
               data-slider-value="0" />
        {{length}}
    </div>
</div>