<div>
    <div class="buttonContainer">
        <button class="btn btn-primary" ng-click="start()"><span class="glyphicon glyphicon-play"></span></button>
        <button class="btn btn-primary" ng-click="reset()"><span class="glyphicon glyphicon-stop"></span></button>
        <button class="btn btn-primary" ng-click="stop()"><span class="glyphicon glyphicon-pause"></span></button>
        <button class="btn btn-primary" ng-click="stepback()"><span class="glyphicon glyphicon-step-backward"></span></button>
        <button class="btn btn-primary" ng-click="stepforward()"><span class="glyphicon glyphicon-step-forward"></span></button>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-flash"></span> 
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>x 0.5</li>
                <li>x 1.0</li>
                <li>x 2.0</li>
                <li>x 3.0</li>
                <li>x 4.0</li>
            </ul>
        </div>
    </div>
    <div class="sliderContainer">
    </div>
</div>